body {
    font-family: Arial, sans-serif;
    background-image: url('WAL.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.chat-container {
    width: 70%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
}
.chat-header {
    background: #0078ff;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px;
}
.chat-header img {
    width: 50px;
    height: 47px;
    border-radius: 45%;
    margin-right: 10px;
}
.chat-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message {
    padding: 5px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
}
.question {
    align-self: flex-start;
    background-color: #d1e7fd;
}
.answer {
    align-self: flex-end;
    background-color: #e6ffe6;
}
.hidden {
    visibility: hidden;
}
.chat-icons i {
    font-size: 1.5em;
    margin-left: 15px;
    cursor: pointer;
}